{
    "backend": "jaccl",
    "envs": [],
    "hosts": [
        {
            "ssh": "10.0.0.1",
            "ips": ["10.0.0.1", "10.0.0.1"],
            "rdma": [null, "rdma_en3", "rdma_en5", "rdma_en4"]
        },
        {
            "ssh": "10.0.0.2",
            "ips": ["10.0.0.2", "10.0.0.2"],
            "rdma": ["rdma_en3", null, "rdma_en4", "rdma_en5"]
        },
        {
            "ssh": "10.0.0.3",
            "ips": ["10.0.0.3", "10.0.0.3"],
            "rdma": ["rdma_en5", "rdma_en3", null, "rdma_en4"]
        },
        {
            "ssh": "10.0.0.4",
            "ips": ["10.0.0.4", "10.0.0.4"],
            "rdma": ["rdma_en4", "rdma_en5", "rdma_en3", null]
        }
    ]
}
